.col-1 {
  width: calc( 100% / 6);
}

.col-2 {
  width: calc( calc( 100% / 6 ) * 2);
}

.col-3 {
  width: calc( calc( 100% / 6 ) * 3);
}

.col-4 {
  width: calc( calc( 100% / 6 ) * 4);
}

.col-5 {
  width: calc( calc( 100% / 6 ) * 5);
}

.col-6 {
  width: 100%;
}

.row > * {
  float: left;
}

.row {
  display: flex;
}
