<div class="album-detail-container" >
    <!-- <h2>EN ESTA SECCION TIENE QUE APARECER LA TAPA DEL DISCO SELECCIONADO JUNTO CON LA LISTA DE TEMAS QUE TIENE EL DISCO.</h2> -->
    <section class="album-details" >
      <img src={{adc.album.images[0].url}} alt="">
      <div class="album-desc">
        <h2>{{adc.album.name}}</h2>
        <h4 ng-repeat="artist in adc.album.artists">
          {{artist.name}}
        </h4>
        <p>{{adc.album.label}}</p>
      </div>
    </section>
    <div class="tracks-container">
      <ul class="tracks-list">
        <li ng-repeat = "track in adc.tracks" class="tracks">
          <h4 class="track-name">{{track.name}}</h4>
          <!-- <img class="track-img" src="/star-grey.png" /> -->
          <star fav="isFav(track.id)" toggle = "toggleFav(track)"class="star"></star>
        </li>
      </ul>
    </div>
</div>
