<div class="band-albums-container">
    <section class="band-detail">
      <img src={{bac.artist.images[0].url}} class="band-detail-img big-img" alt="">
      <div class="band-detail-info">
        <h2>{{bac.artist.name}}</h2>
      </div>
    </section>
    <div class="albums col-6">
      <ul>
        <li ng-repeat="album in bac.albums" class="album-li col-3">
          <div class="album-content" ng-click="goAlbum(album)">
            <img ng-src="{{album.images[0].url}}" class="artist-item-img" alt="">
            <h4>{{album.name}}</h4>
          </div>
        </li>
      </ul>
    </div>
</div>
