<div class="views-container">
  <p>welcome to</p>
  <h2> SpotifySearch</h2>
  <p>Search your favourite songs over spotify, just enter an artist's name in
  the following input box and <b>enjoy!!!</b></p>
  <!-- <input type="text" class="col-6 searchBar-index" ng-model="ic.search"
   ng-class="{'notEmptySearchbar': ic.search != undefined && ic.search != ''}"
   ng-keypress="($event.which === 13)?go(ic.search):0"/> -->
  <input-component></input-component>
  <section ng-if="favs != []">
    <h3>My Favorites</h3>
    <ul class="col-6 index-fav-list">
      <li ng-repeat="fav in favs" class="col-3 index-fav">
        <img ng-src="{{fav.albumCover}}" class="index-fav-img"alt="">
        <h4>{{fav.name}}</h4>
        <img src="/star-golden.png" ng-click="deleteFav(fav.id)" class="index-unFav" alt="">
      </li>
    </ul>
  </section>


</div>
