body {
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  margin-top: 0px;
}

.container {
  background-color: whitesmoke;
  min-height: 700px;
  position: absolute;
  width: 100%;
}

.consigna__container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-left: 10px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Rancho', cursive;
  font-size: 40px;
  background: #c644fc;
  background: -moz-linear-gradient(top, #c644fc 0%, #5856d6 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #c644fc), color-stop(100%, #5856d6));
  background: -webkit-linear-gradient(top, #c644fc 0%, #5856d6 100%);
  background: -o-linear-gradient(top, #c644fc 0%, #5856d6 100%);
  background: -ms-linear-gradient(top, #c644fc 0%, #5856d6 100%);
  background: linear-gradient(to bottom, #c644fc 0%, #5856d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c644fc', endColorstr='#5856d6', GradientType=0 );
}

.header-content > img {
  height: 60px;
  width: 200px;
}

.searchBar-index {
  border: 1px solid #5856D6;
  border-radius: 10px;
  padding-left: 5px;
  height: 40px;
  background: white url("http://www.myiconfinder.com/uploads/iconsets/20-20-d83cd937aec2e189c7c64761ab72829d-search.png") 10px no-repeat;
  transition: 1s;
  text-indent: 35px;
  margin-right: 0px;
}

.notEmptySearchbar {
  background-position: -50px;
  text-indent: 10px;
}

.searchBar-index:focus {
  background-position: -50px;
  text-indent: 10px;
  outline: none;
}

/*  Animations  */
.container.ng-leave {
  z-index: 9999;
}

.container.ng-enter {
  z-index: 8888;
}

.container.index.ng-enter {
  animation: indexEnter 0.3s both ease;
}

.container.index.ng-leave {
  animation: indexLeave 0.3s both ease;
}

.container.results.ng-enter {
  animation: resultsEnter 0.3s both ease;
}

.container.results.ng-leave {
  animation: resultsLeave 0.3s both ease;
}

.container.results-backwards.ng-enter {
  animation: resultsEnter 0.3s both ease;
}

.container.results-backwards.ng-leave {
  animation: resultsBLeave 0.3s both ease;
}

@keyframes indexEnter {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes indexLeave {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes resultsEnter {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes resultsLeave {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes resultsBLeave {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
